.lyrics{
    margin-top: 15%;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: rgb(18, 18, 36);
    font-style: italic;
    font-size:xx-large;
}

.lyrics2{
    margin-top: -1%;
    font-family:'Times New Roman', Times, serif;
    font-size:larger;
    color: rgb(18, 18, 36);
}

